#google_translate_element select {
  width: 100%;
}

#google_translate_element img {
  display: none;
}

.hidden {
  display: none;
}

// .VIpgJd-ZVi9od-ORHb-OEVmcd {
//   display: none;
//   visibility: hidden;
// }
