#google_translate_element select {
  padding: 0.2rem;
  border-radius: 0.25rem;
  width: 100%;
}

#google_translate_element img {
  display: none;
}

// .VIpgJd-ZVi9od-ORHb-OEVmcd {
//   display: none;
//   visibility: hidden;
// }
